<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398960891954-lclnge17knil9po5olmqve6pkpjq8hgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398960891954-lclnge17knil9po5olmqve6pkpjq8hgl</string>
	<key>API_KEY</key>
	<string>AIzaSyD4EG40dRMaJT1UqxpjUf8r7PG39u2VFdA</string>
	<key>GCM_SENDER_ID</key>
	<string>398960891954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cynthiamayumiwatanabeyamaoto.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ae1ab</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ae1ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398960891954:ios:2af7743bb077b3af</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ae1ab.firebaseio.com</string>
</dict>
</plist>